body{
  margin: 20px;

}

main{

}

nav{


}
/****MainGrid****/
.panel-success{
  background-color: #f5fffa;
  height: 850px;
}

.panel-info{
  background-color: #f5faff;
  height: 850px;
}

.panel-success .panel-heading{
  background-color: #cef2e0;
  color: black;
  border: 1px solid #a3b0bf;
  margin: 5px;

}

.panel-info .panel-heading{
  background-color: #cedff2;
  color: black;
  border: 1px solid #a3b0bf;
  margin: 5px;
}

/****Today's Feauture Section****/

.panel-default{
  background-color: #faf5ff;
}

.panel-default .panel-heading{
  background-color: #ddcef2;
  border: 1px solid #a3b0bf;
  margin: 5px;
}


/****Images***/
.wikilogo{
width: 150px;
padding-bottom: 30px;
}

.today{
  width:177px;
  height: 100px;
  float: left;
}

.didyouknow-pic{
  width: 170px;
  height: 110px;
  float: right;
}

.news-pic{
  width: 160px;
  height: 110px;
  float: right;
}

.today-pic{
  width: 100px;
  height: 130px;
  float: right;
}

.feature img{
  width: 368px;
  height: 445px;
  float: left;
}

.feature p{
  padding: 150px 10px;
}

.other-stuff{
  clear: both;
}
